@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1681836177 {
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	z-index: 1;
}

.custom-shape-divider-bottom-1681836177 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 100px;
}

.custom-shape-divider-bottom-1681836177 .shape-fill {
	fill: #24053e;
}

.overlapping-grid-rows {
	grid-template-rows: auto auto auto auto 1fr;
}

@media (min-width: 640px) {
	.hero-background__imgs {
		background-image: url("/assets/images/bg-pattern-1.svg"),
			url("/assets/images/bg-pattern-2.svg");
		background-position: left -13rem top -2rem, right -6rem top 9rem;
	}
}
